<html>
    <head>
        <title>Town center</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
              <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
              <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body class="back">
         
         <div class="ui fixed inverted menu">
             <div class="ui container">
                 <div class="header item"><i class="code icon"></i>Town center</div>
                 <a href="/" class="item">Home</a>
                 <a href="/blogs/new" class="item">New post</a>
                  <a href="/about"  class="item ">About</a>
                 <div class="right menu">
                 <a href="/register"  class="item">Sign Up</a>
                <a href="/logout"  class="item ">Logout</a>
                <a href="/login"  class="item ">Login</a>
                </div>
             </div>
         </div>
  