<% include ./partials/header %>

<div class=" ui main text container">
    <div class="ui huge header ">Town Center</div>
<div class="ui two column grid">
  <div class="column">
    <div class="ui raised segment">
      <a class="ui red ribbon label">About</a>
      <p>This is the first verison of my blooging website.To get Edit, Delete or to create a new post login credentials are required. To get login credentials please contact me</p>
      <a class="ui blue ribbon label">Contact</a>
      <p>
          <div class="ui bulleted list">
  <div class="item">Gmail: vasunangalia789@gmail.com</div>
  <div class="item">Angellist: https://angel.co/vasu-nangalia</div>
  </div>
      </p>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <a class="ui orange right ribbon label">About website</a>
      <p>
          <p>Technologies used</p>
          <div class="ui bulleted list">
              <div class="item"><strong>RESTful APIs</strong></div>
              <div class="item"><strong>Authentication</strong></div>
  <div class="item"><strong>Node js</strong></div>
 <div class="item"><strong>Mongo db</strong></div>
 <div class="item"><strong>Express js</strong></div>
 <div class="item"><strong>Passport</strong></div>
  </div>
      </p>
      <a class="ui teal right ribbon label">Future</a>
      <p>A new blogging website will soon be rolled out with register for all and comment sections for each blog</p>
    </div>
  </div>
</div>
</div>




<% include ./partials/footer %>