<% include ./partials/header %>

 <!-- <div class="ui main text container ">Login</div>
    <div class="ui top attached segment">
    <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>
    
</div>
</div>
-->
<div class="ui main text container "><h3>Login</h3>
<div class="ui icon message">
  <i class="exclamation circle icon"></i>
  <div class="content">
    <div class="header">
      So you want to login
    </div>
    <p>Go to about page</p>
  </div>
</div>
<div class="ui inverted segment">
  <div class="ui inverted form">
      <form action="/login" method="POST">
    <div class="two fields">
      <div class="field">
        <label>Username</label>
         <input type="text" name="username" placeholder="username">
      </div>
      <div class="field">
        <label>Password</label>
         <input type="password" name="password" placeholder="password">
      </div>
    </div>
    
 <!--    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the terms and conditions</label>
      </div>
    </div>-->
    <button class="ui submit button">Login</button>
    </form>
  </div>
</div>
</div>


<% include ./partials/footer %>