<% include ./partials/header %>
<div class="ui main text container segment">
    <div  class="ui huge header"> New blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <lable>Title</lable>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
         <div class="field">
            <lable>Image</lable>
            <input type="text" name="blog[image]" placeholder="image">
        </div>
         <div class="field">
            <lable>project content</lable>
            <textarea name="blog[body]"></textarea>
        </div>
        <div class="field">
            <lable>Project link</lable>
           <input type="url" name="blog[url]" id="url"
               placeholder="https://example.com"
             />
        </div>
        
        <input class="ui violet basic button" type="submit">
    </form>
</div>
<% include ./partials/footer %>

  